* {

  box-sizing: border-box;
}

body {

  font-family: 'Helvetica Neue',sans-serif;
  font-weight: 300;
  width: 300px;
  height: 300px;
  margin: 0;
}

h1 {

  text-align: center;
}

.screenshot {

  text-align: center;
  width: 50%;
  height: 150px;
  padding-top: 35px;
  border-right: 1px solid #333;
}

.ticket:hover #captrflyout,
.screenshot:hover #captrscreen {

  fill: #CFC1A7;
  transition: fill .4s ease;
}

.title {

  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {

  position: absolute;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.animate-show.ng-hide {

  opacity: 0;
  left: -100%;
}

.animate-show {

  position: relative;
  opacity:1;
  left: 0;
}
