<!doctype html>
<html>
    <head>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="captr" ng-csp>
        <h1>CAPTR SETTINGS</h1>
        <form class="captr-options-form" ng-controller="OptionsCtrl">
          Redmine URL: <input type="text" ng-model="options.url" ng-change="saveOptions()" /><br />
          API Key: <input type="text" ng-model="options.apikey" ng-change="saveOptions()" /><br />
          <input type="button" value="Check Connection" ng-click="testConnection()" /><br />
          <span ng-bind="options.access"></span>
          <pre ng-bind="options.error"></pre>
        </form>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/snap.svg/dist/snap.svg-min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/captr.js -->
        <script src="scripts/captr.js"></script>
        <!-- endbuild -->
    </body>
</html>
