<form ng-controller="FormCtrl" ng-submit="submit()" class="form form-ticket">

  <fieldset>
    <select ng-model="project" ng-options="project.name for project in projects" ng-change="updateProjectMembers(project.id)" oninvalid="this.setCustomValidity('Projekt auswählen')" required></select>
    <label>Projekt</label>
  </fieldset>

  <fieldset>
    <select ng-model="tracker" ng-options="tracker.name for tracker in trackers" ng-disabled="!trackers.length" oninvalid="this.setCustomValidity('Tracker auswählen')" required></select>
    <label>Tracker</label>
  </fieldset>

  <fieldset>
    <select ng-model="category" ng-options="category.name for category in issue_categories" ng-disabled="!issue_categories.length"></select>
    <label>Kategorie</label>
  </fieldset>

  <fieldset>
    <select ng-model="selectedMember" ng-options="member.user.id as member.user.name group by member.roles[0].name for member in memberships"  ng-disabled="!memberships.length" /></select>
    <label>Zugewiesen an</label>
  </fieldset>

  <fieldset>
    <input type="text" ng-model="issue.subject" oninvalid="this.setCustomValidity('Ein Titel muss angegeben werden')" required/>
    <label>Titel</label>
  </fieldset>

  <fieldset>
    <textarea ng-model="issue.description" required></textarea>
    <label>Beschreibung</label>
  </fieldset>

  <fieldset class="form-additional">
    <span class="form-additional-line">Breite: <span ng-bind="issue.width"></span></span>
    <span class="form-additional-line">Höhe: <span ng-bind="issue.height"></span></span>
    <span class="form-additional-line">URL: <span ng-bind="issue.url"></span></span>
    <span class="form-additional-line">Status: <span ng-bind="issue.status"></span></span>
    <span class="form-additional-line">User Agent: <span ng-bind="issue.useragent"></span></span>
    <span class="form-additional-line">Betriebssystem: <span ng-bind="issue.os"></span></span>
  </fieldset>

  <input type="submit" id="submit" value="Submit" />

</form>
