<form ng-controller="FormCtrl" ng-submit="submit()" class="css-form">

  Project: <select ng-model="project" ng-options="project.name for project in projects"></select>
  Tracker: <select ng-model="tracker" ng-options="tracker.name for tracker in trackers"></select>
  Titel: <input type="text" ng-model="issue.subject" required/><br />
  Beschreibung: <textarea ng-model="issue.description"></textarea><br />
  Breite: <span ng-bind="issue.width"></span><br />
  Höhe: <span ng-bind="issue.height"></span><br />
  URL: <span ng-bind="issue.url"></span><br />
  Status: <span ng-bind="issue.status"></span><br />
  User Agent: <span ng-bind="issue.useragent"></span><br />
  Betriebssystem: <span ng-bind="issue.os"></span><br />
  <input type="submit" id="submit" value="Submit" />

</form>
